/* CSS required for pinLayout plugin */

#container, #wrapper {
  position: relative;
}

.pin {
  position: absolute;
}

/* Other CSS to make it look nice */

#container {
  margin-top: 10px;
}

.pin {
  background: #990000;
  color: #eee;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,.2);
  font: 13px/16px arial;
}

